@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  padding: 3px 8px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@keyframes honeycomb {
  0%, 20%, 80%, 100% {
    opacity: 0;
    transform: scale(0);
  }
  30%, 70% {
    opacity: 1;
    transform: scale(1);
  }
}
.honeycomb {
  height: 24px;
  position: relative;
  width: 24px;
}

.honeycomb div {
  animation: honeycomb 2.1s infinite backwards;
  background: rgba(246, 19, 204, 0.4392156863);
  height: 12px;
  margin-top: 6px;
  position: absolute;
  width: 24px;
}

.honeycomb div:after,
.honeycomb div:before {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.honeycomb div:after {
  top: -6px;
  border-bottom: 6px solid #f3f3f3;
}

.honeycomb div:before {
  bottom: -6px;
  border-top: 6px solid #f3f3f3;
}

.honeycomb div:nth-child(1) {
  animation-delay: 0s;
  left: -28px;
  top: 0;
}

.honeycomb div:nth-child(2) {
  animation-delay: 0.1s;
  left: -14px;
  top: 22px;
}

.honeycomb div:nth-child(3) {
  animation-delay: 0.2s;
  left: 14px;
  top: 22px;
}

.honeycomb div:nth-child(4) {
  animation-delay: 0.3s;
  left: 28px;
  top: 0;
}

.honeycomb div:nth-child(5) {
  animation-delay: 0.4s;
  left: 14px;
  top: -22px;
}

.honeycomb div:nth-child(6) {
  animation-delay: 0.5s;
  left: -14px;
  top: -22px;
}

.honeycomb div:nth-child(7) {
  animation-delay: 0.6s;
  left: 0;
  top: 0;
}

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  margin: 60px auto 0;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.CartBtn span,
.CartBtn .text {
  pointer-events: none;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}
.IconContainer i {
  font-size: 20px;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "poppins";
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  padding: 0 20px;
  grid-template-areas: "logo form bookmark";
  background: #f9f5f3;
}
@media (max-width: 700px) {
  header {
    grid-template-areas: "logo bookmark" "form form";
  }
}
header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}
header .logo img {
  width: 100px;
}
header .form {
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  header .form {
    margin-bottom: 30px;
  }
}
header .form form {
  background: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 20px 20px -10px rgba(38, 57, 77, 0.3);
}
header .form form:focus-within {
  transform: translateY(-4px);
  box-shadow: 0 20px 20px -10px rgb(38, 57, 77);
}
header .form form input {
  font-size: 19px;
  padding: 8px 16px;
}
@media (max-width: 700px) {
  header .form form input {
    font-size: 16px;
    padding: 6px 12px;
  }
}
header .form form input::-moz-placeholder {
  color: #dad0cc;
}
header .form form input::placeholder {
  color: #dad0cc;
}
header .form form button {
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(45deg, #8afb61 30%, #246f8b 100%);
}
header .form form button:hover {
  scale: 0.95;
}
header .bookmark {
  grid-area: bookmark;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 16px;
}
header .bookmark button {
  background: pink;
}
header .bookmark i {
  font-size: 25px;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex: 1;
}
@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}

section {
  height: 100%;
}

main #results {
  display: flex;
  flex-direction: column;
  height: 150vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
main #results a {
  background: white;
  border-top: 2px solid #f9f5f3;
  padding: 20px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
main #results a:hover {
  transform: translateY(-2px);
  background: #f9f5f3;
}
main #results a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main #results a h4 {
  color: yellow;
  white-space: nowrap;
}
main #results::-webkit-scrollbar {
  background: white;
  width: 5px;
}
main #results::-webkit-scrollbar-thumb {
  background-color: yellow;
}

main #recipe {
  background: #f9f5f3;
}

#recipe figure {
  height: 300px;
  position: relative;
  background: #a9c9ff;
  z-index: 1000;
}
#recipe figure::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  background-image: linear-gradient(90deg, #a9c9ff 0%, #ffbbec 100%);
}
#recipe figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recipe figure h1 {
  font-family: "ubuntu";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 600;
  background-image: linear-gradient(90deg, #a9c9ff 0%, #ffbbec 100%);
  white-space: nowrap;
  padding: 10px 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}
#recipe figure .like-area {
  display: flex;
  justify-content: end;
  padding: 30px;
}
#recipe figure .like-area i {
  font-size: 26px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms;
}
#recipe figure .like-area i:hover {
  background: rgb(173, 173, 173);
}

#recipe .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 40px 0 0;
}
#recipe .ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 700px) {
  #recipe .ingredients ul {
    grid-template-columns: 1fr;
  }
}
#recipe .ingredients ul li {
  display: flex;
  gap: 10px;
}
#recipe .ingredients ul li i {
  color: #a9c9ff;
}
#recipe .ingredients ul li p {
  white-space: nowrap;
  max-width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 500px) {
  #recipe .ingredients ul li p {
    max-width: 300px;
  }
}
@media (max-width: 700px) {
  #recipe .ingredients ul li p {
    max-width: 450px;
  }
}

#recipe .directions {
  text-align: center;
  padding-bottom: 40px;
}
#recipe .directions h2 {
  font-family: 30px;
  transform: skewY(-3deg);
  font-weight: 600;
  text-shadow: 0 0 30px #ffbbec;
  color: #ffbbec;
}
#recipe .directions p {
  margin: 20px 0;
  padding: 5px;
}
#recipe .directions p span {
  color: #ffbbec;
}
#recipe .directions a {
  padding: 10px 30px;
  border: 1px solid #a9c9ff;
  border-radius: 30px;
  transition: all 300ms;
}
#recipe .directions a:hover {
  background: #a9c9ff;
  color: white;
}

.bm-area {
  position: relative;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bm-button {
  cursor: pointer;
}

.dropdown {
  display: none;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  left: -155px;
  z-index: 1;
  min-width: 200px;
  background: #212121;
  border: 2px solid #f9a9cc;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown a {
  color: #f9a9cc;
  padding: 8px 10px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;
}
.dropdown a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bm-area:hover .dropdown {
  display: block;
}

.bm-area:hover button {
  border-radius: 13px 13px 0 0;
}

.dropdown a:hover {
  color: black;
  background: #f9a9cc;
}

main #cart div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
main #cart div h2 {
  color: #a9c9ff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
main #cart div button {
  background: red;
  color: white;
  cursor: pointer;
  transition: filter 0.3s;
}
main #cart div button:hover {
  filter: brightness(70%);
}
main #cart ul {
  max-width: 90vh;
  overflow-y: auto;
}
main #cart ul::-webkit-scrollbar {
  width: 6px;
}
main #cart ul::-webkit-scrollbar-thumb {
  background: black;
}
main #cart ul i {
  cursor: pointer;
  font-size: 20px;
}
main #cart ul i:hover {
  color: red;
  background: rgba(128, 128, 128, 0.343);
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */